.title {
    position: static;
    left: 10%;
    right: 10%;
    display: block;
    max-width: 100%;
    margin: 0px 100px 0px 0px;
    padding-top: 50px;
    padding-bottom: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    color: #353535;
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
    text-align: left;
    text-transform: none;
}

.subtitle {
    position: static;
    max-width: none;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #727272;
    font-size: 20px;
    font-weight: 600;
}

.huge-line-height {
    line-height: 80px;
}
